*, *:before, *:after {
  box-sizing: inherit;
}
html{
  height: 100%;
  font-size: 16px;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter Tight', sans-serif;


}
.application{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h2,h3{

  font-family: 'Inter Tight', sans-serif;
}
img{
  width: 100%;
  display: block;
}
a{
  text-decoration: none;
  color: white;
}
.content-container{
  position: relative;
}
/* Navigation*/
ul,li{
  list-style: none;
}
.menu_item{
  cursor: pointer;
  color: white;
}
.flex{
  display: flex;
}
header {
  background: rgb(0, 0, 0);
  position: sticky;
  top: 0;
  align-items: center;
  padding: 10px;
  z-index: 100;
}  

.nav{
  padding: 0;
  margin: 0;
  font-size: 1rem;
  position: sticky;
}
.title-site{
  font-family: 'Bruno Ace SC', cursive;
  font-size: 1.7rem;
  color: white;
}
h1{
  font-family: 'Bruno Ace SC', cursive;
  font-size: 2rem;
  
}

  /*Navigation Mobile*/

@media (max-width: 52rem){
       header{
      justify-content: space-between;
      box-shadow: 0px 2px 2px black;
      z-index: 100;
      
  }

  .nav{
      position: fixed;
      left:0;
      right:0;
      top:0;
      flex-direction: column;
      padding: min(30vh, 2rem);
      gap:2rem;
      transform: translateY(-100%);
      transition: 0.4s ease-in-out;
      background: black;
      text-align: left;
      justify-content: center;
      align-items: center;
      color: white;
      
      

}


  /*Hamburger Menu*/

  .line{
      width: 23px;
      height: 3px;
      background: white;
      display: block;
      margin: 5px;
      position: relative;
}

  .hamburger{
      background: transparent;
      border:none;
      z-index: 1;


}
  /*Hamburger menu Animation*/

  .hamburger .line{
      transition:0.6s, opacity 0.2s;
      transform-origin: center;
  }

  .hamburger.active .top{
      transform: rotate(45deg) translate(8px, 7px);

}
  .hamburger.active .bottom{
      transform: rotate(-45deg) translate(4px, -3.5px);

}
  .hamburger.active .middle{
      opacity: 0;
}
.hamburger.active .line{
  background: white;

}
  .nav.active{
      transform: translateY(0%);

}

}

  /*Navigation Desktop*/

  @media(min-width:52rem){

       .hamburger{
          display: none;
      }
      header {
          justify-content: space-around; 
      }

       .nav{

        
      gap:clamp(1rem, 4vw, 2rem);
      padding-inline:clamp(2.5rem, 6vw , 9rem);
      background: white;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  .nav a:hover, .active-page {
      transition: 0.5s ease;
      text-underline-offset: 0.4rem;
      text-decoration: underline white;
}
}

/*slider*/

  .btn-container{
    display: flex;
    margin-top: auto;
    gap:10px;
  }
  .arrow{
    display: block;
    transform: translateY(-50%);
    border: none;
    width:2.5rem;
    height: 2,5rem;
    background-color: rgb(43, 40, 40);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.5rem;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    display: none;
   
}
.arrow:active{
  background-color: #817e7e;
  color: rgb(0, 0, 0);
}
.arrow-right{
  right: 10.5px;
}
.arrow-left{
  left:0;
}
.arrow:disabled{
  opacity: 0.5;
  cursor: default;
}
.arrow:disabled:active{
  background-color: rgb(43, 40, 40);
  color: rgb(255, 255, 255);
}

.wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.slider{
  max-width: 1200px;
  font-size: 0px;
  gap:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}
.wrapper .slider{

  white-space: nowrap;
  overflow: scroll;
  margin: 20px auto;


}

@media(min-width:52rem){
  .arrow{
    display: block;
  }
  .wrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
  
  
  }
  .slider{
    max-width: 1200px;
    font-size: 0px;
    display: inline-block;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    gap:0;
  }
  .wrapper .slider{
  
    white-space: nowrap;
    overflow: hidden;
    margin: 20px auto;
  
  
  }

}


/*Blog-cards*/
.blog-card{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 22rem;
  margin-left: 0px;
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #f1f0ef);

}

.blog-card:first-child{
  margin-left: 0px;
}


.blog-card-img-container{
  max-width: 100%;
}

.AI{

  background: #56CCF2;
  background: linear-gradient(to bottom, #1e4f91, #37abd1);
  color: #fafafa;
}

.Sound{
  
  background: #000000;
  background: linear-gradient(to bottom, #000000, #141313);
  color: #fafafa;
}
.Scene{
  background: #bb1f1f;
  background: linear-gradient(to bottom, #862323, #311111);
  color: #fafafa;
}
.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: 0.9rem;

}
.card-body {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  white-space: normal;

}

.card-body h4{
  font-size: 1.3rem;
  text-transform: capitalize;
}

.card-bottom {
  display: flex;
  padding: 0rem;
  margin-top: auto;

}

.writer {
  display: flex;
  gap: .5rem;
  align-items: center;

}

.writer img{
  border-radius: 50%;
   
  height: 30px;
}

.title-link{
  color: black;
 
  cursor: pointer;
  font-size: 1.4rem;
  font-family: 'Inter Tight', sans-serif;
  font-weight: bold;
  display: block;
  margin-top: 10px;
  height: 50px;
}
.title-link:hover{
  text-decoration: underline;
}
.subTitle-text{
  height: 32px;
}
.read-more{
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

@media(min-width:53rem){
  .blog-card{
    display: inline-block;
    width: calc(100% / 3.14);
    margin-left: 18px;

  }
}
/*Home*/
.latest-container-title{
  display: flex;
  gap:15px;
  align-items: center;
  justify-content: center;

}

.home-header{
  background: url('/images/909.jpg');
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  margin: 0;
  position: relative;
}
.hero-text{
  position: absolute;
  color: white;
  top:65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
  width: 100%;
}
.hero-text h1{
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 20px;
 
}
.hero-text h2{
  font-size: 1rem;
}
.latest-posts{
  max-width: 1150px;
  margin: 0 auto;
}
@media(min-width:52rem){

  .latest-container-title{
    justify-content: flex-start;

  }
  .hero-text h1{
    font-size: 2.2rem;
    text-underline-offset: 23px;
  }
  .title-home{
    font-size: 2.2rem;
  }
  .hero-text h2{
    font-size: 1.5rem;
  }

}
/*details*/
.article-header{
  width: 100%;
  height: 50vh;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.user-info{
  display: flex;
  flex-direction: column;
}
.blog-section{
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
.blog-container{
  position: relative;
  max-width: 680px;
  margin: auto;
  font-size: 18px;
  letter-spacing: -0.003em;
  line-height: 28px;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;

}

@media(min-width:52rem){
  .blog-container{
    font-size: 20px;
    line-height: 32px;
  }
}

/*Post page*/
.post-section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:15px;
  max-width: 1100px;
}
.section-wrapper{
  max-width: 1100px;
  margin: 0 auto;
  
}
.section-wrapper h1{
  width: 100%;
  text-align: center;
}
@media(min-width:52rem){
  .section-wrapper h1{
    text-align: left;
  }
}

/*Footer*/
footer{
  margin-top: auto;
  background: black;
  color: white;
  padding-block: 3rem;
 
}

.socials-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid white;
  width: min(78rem, calc(100% - 2rem));
  margin-inline: auto;
}
.socials-cotnainer{
  display: flex;
  gap: 20px;
  font-size: 1.3rem;
}
.footer-form{
  display: flex;
  justify-content: center;
  width: min(78rem, calc(100% - 2rem));
  align-items: center;
  margin-inline: auto;
  padding-bottom: 0.3rem;
  flex-wrap: wrap;
  text-align: center;
}
.form .form-field  {	
		width: 250px;
		background: #fff;
		color: black;
		font: inherit;
		border: 0;
		outline: 0;
		padding: 10px 10px;	
}


.btn {
	display: inline-block;
	background: rgb(50, 68, 167);
	color: inherit;
	font: inherit;
	border: 0;
	outline: 0;
	padding: 10px;
	transition: all 200ms ease-in;
	cursor: pointer;
	
}
.copyright{
  text-align: center;
  width: 350px;
  margin:auto;
}
.copyright h1{
  font-size: 1rem;
  text-decoration: underline;
  text-underline-offset: 11px;

}
@media(min-width:52rem){
  .footer-form{
    justify-content: space-between;
    text-align: left;
  }
}


/*Loader*/
.spinner {

  display: none;
}
.spinner.show{
  animation: rotator 1.4s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
