*, *:before, *:after {
  box-sizing: inherit;
}
html{
  height: 100%;
  font-size: 16px;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}
.application{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,h2,h3{

  font-family: 'Inter Tight', sans-serif;
}
a{
  text-decoration: none;
  color: white;
}
.content-container{
  position: relative;
}
/* Navigation*/
ul,li{
  list-style: none;
}
.menu_item{
  cursor: pointer;
  color: white;
}
.flex{
  display: flex;
}
header {
  background: rgb(0, 0, 0);
  position: sticky;
  top: 0;
  align-items: center;
  padding: 10px;
}  

.nav{
  padding: 0;
  margin: 0;
  font-size: 1rem;
  position: sticky;
}
.title-site{
  font-family: 'Bruno Ace SC', cursive;
  font-size: 1.7rem;
  color: white;
}

  /*Navigation Mobile*/

@media (max-width: 52rem){
       header{
      justify-content: space-between;
      box-shadow: 0px 2px 2px black;
      z-index: 100;
      
  }

  .nav{
      position: fixed;
      left:0;
      right:0;
      top:0;
      flex-direction: column;
      padding: min(30vh, 2rem);
      gap:2rem;
      transform: translateY(-100%);
      transition: 0.4s ease-in-out;
      background: black;
      text-align: left;
      justify-content: center;
      align-items: center;
      
      

}


  /*Hamburger Menu*/

  .line{
      width: 23px;
      height: 3px;
      background: white;
      display: block;
      margin: 5px;
      position: relative;
}

  .hamburger{
      background: transparent;
      border:none;
      z-index: 1;


}
  /*Hamburger menu Animation*/

  .hamburger .line{
      transition:0.6s, opacity 0.2s;
      transform-origin: center;
  }

  .hamburger.active .top{
      transform: rotate(45deg) translate(8px, 7px);

}
  .hamburger.active .bottom{
      transform: rotate(-45deg) translate(4px, -3.5px);

}
  .hamburger.active .middle{
      opacity: 0;
}
.hamburger.active .line{
  background: white;

}
  .nav.active{
      transform: translateY(0%);

}

}

  /*Navigation Desktop*/

  @media(min-width:52rem){

       .hamburger{
          display: none;
      }
      header {
          justify-content: space-around; 
      }

       .nav{

        
      gap:clamp(1rem, 4vw, 2rem);
      padding-inline:clamp(2.5rem, 6vw , 9rem);
      background: white;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  .nav a:hover, .active-page {
      transition: 0.5s ease;
      text-underline-offset: 0.4rem;
      text-decoration: underline white;
}
}


/*Home*/

.home-header{
  background: url('/images/909.jpg');
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  margin: 0;
  position: relative;
}
.hero-text{
  position: absolute;
  color: white;
  top:65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
  width: 100%;
}
.hero-text h1{
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 20px;
 
}
.hero-text h2{
  font-size: 1rem;
}
.latest-posts{
  max-width: 1000px;
  margin: 0 auto;
}
@media(min-width:52rem){
  .hero-text h1{
    font-size: 2.2rem;
    text-underline-offset: 23px;
  }
  .title-home{
    font-size: 2.2rem;
  }
  .hero-text h2{
    font-size: 1.5rem;
  }

}
/*Footer*/
footer{
  margin-top: auto;
  background: black;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
}



/*Loader*/
.spinner {

  display: none;
}
.spinner.show{
  animation: rotator 1.4s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
