*, *:before, *:after {
  box-sizing: inherit;
}
html{
  height: 100%;
}
body {
  margin: 0;
  box-sizing: border-box;


}
.application{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo-wrapper{
  color: white;
}
/* Navigation*/
ul{
  list-style: none;
}
.menu_item{
  cursor: pointer;
  color: white;
}
.flex{
  display: flex;
}
header {
  background: black;
  position: sticky;
  top: 0;
}  

.nav{
  padding: 0;
  margin: 0;
  font-size: 20px;
  position: sticky;
}
.logo-wrapper, header {
  align-items: center;
}

  /*Navigation Mobile*/

@media (max-width: 52rem){
       header{
      justify-content: space-between;
      box-shadow: 0px 2px 2px black;
  }

  .nav{
      position: fixed;
      left:0;
      right:0;
      top:0;
      flex-direction: column;
      padding: min(30vh, 2rem);
      gap:2rem;
      transform: translateY(-100%);
      transition: 0.4s ease-in-out;
      background: black;
      text-align: left;
      justify-content: center;
      align-items: center;
      

}


  /*Hamburger Menu*/

  .line{
      width: 23px;
      height: 3px;
      background: white;
      display: block;
      margin: 5px;
      position: relative;
}

  .hamburger{
      margin: 10px;
      background: transparent;
      border:none;
      z-index: 1;

}
  /*Hamburger menu Animation*/

  .hamburger .line{
      transition:0.6s, opacity 0.2s;
      transform-origin: center;
  }

  .hamburger.active .top{
      transform: rotate(45deg) translate(8px, 7px);

}
  .hamburger.active .bottom{
      transform: rotate(-45deg) translate(4px, -3.5px);

}
  .hamburger.active .middle{
      opacity: 0;
}
.hamburger.active .line{
  background: white;

}
  .nav.active{
      transform: translateY(0%);

}

}

  /*Navigation Desktop*/

  @media(min-width:52rem){

       .hamburger{
          display: none;
      }
      header {
          justify-content: space-around;
          padding: 10px;    
      }

       .nav{

        
      gap:clamp(1rem, 4vw, 4rem);
      padding-inline:clamp(2.5rem, 6vw , 9rem);
      background: white;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  .nav a:hover, .active-page {
      transition: 0.5s ease;
      text-underline-offset: 0.4rem;
      text-decoration: underline white;
}
}      
.content-container{
  max-width: 1200px;
  margin: 0 auto;
}
footer{
  margin-top: auto;
  background: black;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
}