/*Global values*/
:root{
  --primary-font: 'Source Sans Pro', sans-serif,'Roboto', sans-serif;;
  --heading-font:  'Bruno Ace SC', cursive,'Roboto Slab', serif;
  --heading-rest-font:'Titillium Web', sans-serif,'Roboto Slab', serif;


  --max-size:75rem;

  --white:#FFFFFF;
  --card-white1:#ECE9E6;
  --card-white2:#f1f0ef;

  --categories-blue1:#56CCF2;
  --categories-blue2:#1e4f91;
  --categories-blue3:#37abd1;

  --black:#000000;
  --black2:#141313;

  --red1:#bb1f1f;
  --red2:#862323;
  --red3: #311111;

  --article-size-small: 37.5rem;
  --article-size-medium:40rem;
  --article-size-large:42.5rem;

  --size-xl: min(75rem, calc(100% - 2rem));
  --size-xxl: min(78rem, calc(100% - 2rem));
  --size-md: min(42rem, calc(100% - 2rem)); 
  --size-xs: min(30rem, calc(100% - 2rem));
  --size-card: min(22rem, calc(100% - 2rem));
}
*, *:before, *:after {
  box-sizing: inherit;
}
html{
  height: 100%;
  font-size: 16px;
}
#content{
  position: relative;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  color: var(--black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
.title-site,h1 {
  font-family: var(--heading-font);
  font-size: 2rem;
}

fieldset{
  border: none;
}

input,textarea{
  font-family: var(--primary-font);
}
.title-site{
  font-size: 1.7rem;
  color: var(--white);
}
.hero-text{
  color: var(--white);
}
img{
  width: 100%;
  display: block;
}
a{
  text-decoration: none;
  color: var(--white);
}
ul,li{
  list-style: none;
}
.flex{
  display: flex;
}

/* Navigation*/
.nav li{
  font-size: 1.1rem;
  font-family: var(--primary-font);
}
.menu_item{
  cursor: pointer;
}

header {
  position: sticky;
  top: 0;
  align-items: center;
  padding: 10px;
  z-index: 100;
}  

.nav{
  padding: 0;
  margin: 0;
  font-size: 1rem;
  position: sticky;
}
header, .nav{
  background: var(--black);
}



  /*Navigation Mobile*/

@media (max-width: 52rem){
  header{
      justify-content: space-between;
      box-shadow: 0px 2px 2px black;
      z-index: 100; 
  }
  .nav{
      position: fixed;
      left:0;
      right:0;
      top:0;
      flex-direction: column;
      padding: min(30vh, 2rem);
      gap:2rem;
      transform: translateY(-100%);
      transition: 0.4s ease-in-out;
      text-align: left;
      justify-content: center;
      align-items: center;
      z-index: 0;     
}

  /*Hamburger Menu*/

  .line{
      width: 23px;
      height: 3px;
      background: var(--white);
      display: block;
      margin: 5px 0;
      position: relative;
}
  .hamburger{
      background: transparent;
      border:none;
      z-index: 1;
}
  /*Hamburger menu Animation*/

  .hamburger .line{
      transition:0.6s, opacity 0.2s;
      transform-origin: center;
  }

  .hamburger.active .top{
      transform: rotate(45deg) translate(8px, 7px);

}
  .hamburger.active .bottom{
      transform: rotate(-45deg) translate(4px, -3.5px);

}
  .hamburger.active .middle{
      opacity: 0;
}
.hamburger.active .line{
  background: var(--white);

}
  .nav.active{
      transform: translateY(0%);
}
}
  /*Navigation Desktop*/

  @media(min-width:52rem){

  .hamburger{
      display: none;
}
  header {
      justify-content: space-around; 
}

  .nav{      
      gap:clamp(1rem, 4vw, 2rem);
      padding-inline:clamp(2.5rem, 6vw , 9rem);
      background: white;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .nav a:hover, .active-page {
      transition: 0.5s ease;
      text-underline-offset: 0.4rem;
      text-decoration: underline var(--white);
  }
}

/*slider*/

  .btn-container{
    margin-top: auto;
    gap:10px;
    text-align: center;
  }
  .arrow {
    display: block;
    transform: translateY(-50%);
    border: none;
    width:2.5rem;
    height: 2,5rem;
    background-color: rgb(43, 40, 40);
    color: var(--white);
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.5rem;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    display: none;   
}
.arrow:active{
  background-color: #817e7e;
  color: var(--black);
}
.arrow-right{
  right: 10.5px;
}
.arrow-left{
  left:0;
}
.arrow:disabled{
  opacity: 0.5;
  cursor: default;
}
.arrow:disabled:active{
  background-color: rgb(43, 40, 40);
  color: rgb(255, 255, 255);
}


.slider{

  font-size: 0px;
  gap:30px;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}
.wrapper .slider{
  white-space: nowrap;
  overflow: hidden;
  margin: 20px auto;
}

@media(min-width:52rem){
  .arrow{
    display: block;
  }
  .wrapper{
    justify-content: center;
    flex-direction: row;
    height: 490px;
    width: var(  --size-xxl);
    margin: 0 auto;
  }
  .slider{
    width: var(--size-xl);
    font-size: 0px;
    display: inline-block;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    gap:0;
    overflow-x: scroll;
    scrollbar-width: none;
  }
  .wrapper .slider{
    white-space: nowrap;
    margin: 20px auto;
  }
}

/*Blog-cards*/

.blog-card{
  display: flex;
  flex-direction: column;
  width: var(--size-card);
  height: 450px;
  overflow: hidden;
  border-radius: 5px;
  color: black;
  background: rgb(239,239,242);
  background: linear-gradient(90deg, rgba(239,239,242,1) 0%, rgba(249,243,243,1) 100%);
  font-size: 16px;
  position: relative;
}
.card-body-container{
  word-wrap: break-word;
  white-space: normal;
}
.user{
  display: flex;
  flex-direction: column;
}
.title-link{
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
}
.card-body-container{
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;

}
.card-post-container{
  width: 100%;
  height: 70%;
  position: relative;
  padding: 10px;  
  text-align: center;
  
}
.card-post-container p{
  font-size: 14;
  margin-top: 15px;
}

.sub-info{
  width: 100%;
  position: absolute;
  bottom: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;


}
.card-body-container hr{
  top: 70%;
  width: 80%;
  left: 10%;

  justify-self: center;
  position: absolute;
}
.title-link:hover{
  text-decoration: underline 0.5px;
}
@media(min-width:52rem){
  .blog-card{
    display: inline-block;
    width: calc(100%  / 3.08) ;
    margin-left: 14px;
  }
  .blog-card:nth-child(2) {
    margin-left: 0px !important;
  }
  .card-post-container{
    text-align: left;
  }
}

/*Home*/
.latest-container-title{
  gap:15px;
  align-items: center;
  justify-content: center;
}
.home-header{
  background: url('/images/909.jpg');
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  margin: 0;
  position: relative;
}
.hero-text{
  position: absolute;
  top:65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
  width: 100%;
}
.hero-text h1{
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 20px;
}

.hero-text h2{
  font-size: 1rem;
}
.latest-posts{
  width: var(--size-xl);
  margin: 0 auto;
}
@media(min-width:52rem){
  .latest-container-title{
    justify-content: flex-start;
  }
  .hero-text h1{
    font-size: 2.2rem;
    text-underline-offset: 23px;
  }
  .title-home{
    font-size: 2.2rem;
  }
  .hero-text h2{
    font-size: 1.5rem;
  }
}
/*excerpt*/
.excerpt-wrapper{

  
}
.excerpt{
  width: 100%;
  margin: 50px auto 0 auto ;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
  letter-spacing: -0.003em;
  line-height: 28px;

}

.excerpt-article{
  max-width: var(--size-md);
  margin-top: 20px;

}
.excerpt-article hr{
  height: 5px;
  color: black;
  background: black;
}

.excerpt-article h3{

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.article-img-container{
  overflow: hidden;
}

.article1{
  max-width: var(--size-md);
  color: white;
  background-position: center;
}
.article-text-container{
  background-color: #101111;
  padding: 20px;
}
.btn-container-home{ 
  margin: 10px auto;
  text-align: center;
}
.btn-container-home a{
  width: 250px;
}
@media(min-width:1344px){
  .excerpt{
    background: linear-gradient(to right, #141313 50%, #f8f6f6 50%);
  }
  .excerpt-article{
    padding-left: 40px;
    margin-top: 0;
  }
}

/*details*/
.comment-field{
  background: rgb(236, 234, 234);
  margin: 0 auto;
  max-width: var(--article-size-large);
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.comment-container{
  background: rgb(240, 239, 239);
  padding: 20px;
  max-width: var(--article-size-medium);
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 3px 4px 4px rgb(95, 94, 94);
}
.article-header{
  width: 100%;
  height: 50vh;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.user-info{
  flex-direction: column;
}
.blog-section{
  max-width: var(--max-size);
  margin: 0 auto;
  padding: 10px;

}
.blog-container{
  position: relative;
  max-width: var(--article-size-large);
  margin: auto;
  font-size: 18px;
  letter-spacing: -0.003em;
  line-height: 28px;
  padding: 10px;
}
@media(min-width:52rem){
  .blog-container{
    font-size: 20px;
    line-height: 32px;
  }
  .excerpt{
    text-align: left;
  }
}
/*Post page*/
.post-section{
  overflow-x: hidden;
}
.search-form{
  align-items: center;
  gap: 10px;
}
.search-btn{
  margin-top: 35px;
  border-radius: 3px;
}
.post-form-wrapper{
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.category, .sort-date{
  height: 50px;
  padding: 10px 20px;
  background: var(--white);
  transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-top: 40px;
}
.category:hover, .sort-date:hover{
  border: 1px solid #999;
}
.category:focus, .sort-date:focus{
  border: 1px solid #999;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
  outline: none;
}

.section-wrapper{
  justify-content: center;
  flex-direction: column;
  align-content: center;
  gap:15px;
  width:var(--size-xl);
  margin: auto;
}
.article-container{
  padding: 20px;
  gap:20px;
  margin-bottom: 10px;
  background: #eeeaea;
  align-items: center;
  display: flex;
  flex-wrap: wrap;

}
.posts-img-container{
  max-width: 450px;
  border-radius: 5px;
  overflow: hidden;
  
}
.article-container img{
  width: 100%;
  display: block;
}
.article-title-container{
  width: 400px;
  text-align: center;

}
.section-wrapper h1{
  width: 100%;
  text-align: center;
}

@media(min-width:52rem){
  .section-wrapper h1{
    text-align: left;
  }
  .article-title-container{

    text-align: left;
  
  }
}
/*Footer*/

.sr-only {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

footer{
  margin-top: auto;
  background: var(--black);
  color: var(--white);
  padding-block: 3rem;
  position: relative;
}
.subscribe-btn{
  margin-top: 10px;
}
.socials-wrapper{
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid white;
  width: var(--size-xl);
  margin-inline: auto;
}
.socials-cotnainer{

  gap: 20px;
  font-size: 1.3rem;
}
.footer-form{
  justify-content: center;
  width: var(--size-xl);
  align-items: center;
  margin-inline: auto;
  padding-bottom: 0.3rem;
  flex-wrap: wrap;
  text-align: center;
}
.form .form-field  {	
		width: 250px;
		background: #fff;
		color: black;
		font: inherit;
		border: 0;
		outline: 0;
		padding: 10px 10px;	
}


.copyright{
  text-align: center;
  width: 350px;
  margin:auto;
}
.copyright h1{
  font-size: 1rem;
  text-decoration: underline;
  text-underline-offset: 11px;

}
@media(min-width:52rem){
  .footer-form{
    justify-content: space-between;
    text-align: left;
  }
  .subscribe-btn{
    margin-top: 0;
  }
}

/*Buttons*/
.btn {
	display: inline-block;
	background: rgb(50, 68, 167);
	color: white;
	font: inherit;
	border: 0;
	outline: 0;
	padding: 10px;
	cursor: pointer;
	
}
.btn:active{
  background: #4285f4;
  color: white;
}
.load-more-container{
  margin: 10px auto;
}
.load-more{
  background: black;
  color: white;
  width: 200px;
  border-radius: 3px;

}
.load-more:active{
  background: rgb(212, 209, 209);
  color: black;
}
/*Contact*/
.error-message{
  color: red;
  display: none;
}
.error-message.show{
  display: block;
}
.content-wrapper{
  background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}
.contact-section{
  width: var(--size-xl);
  margin: 50px auto;
}
.contact-section h1{
  text-align: center;
}
.contact-form{
  margin: 0 auto;
}
.repply-shortly{
  text-align: center;
}
.send-contact button{
  width: 200px;
}

/*About us*/
.svg-container{
  z-index: 2;
  position: relative;
}
.image-carousel{
  cursor: pointer;
}
.about-us-section{
  position: relative;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  justify-content: center;
  letter-spacing: -0.003em;
  line-height: 28px;


}
.divider-img{
  display: block;

}
.music-notes {
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  left:30%;
  width: 50%;
  height: 200px;
  border: 0px solid #000;
}

.note1,
.note2,
.note3,
.note4,
.note5 {
  position: absolute;
  animation: music 3s infinite linear;
  font-size: 35px;
  opacity: 0;
  -webkit-animation: music 3s infinite linear;
}

.note1 {
  top: 55px;
  left: 0;
  animation-delay: 1s;
}

.note2 {
  top: 25px;
  left: 20%;
  animation-delay: 1.5s;
}

.note3 {
  top: 90px;
  left: 50%;
  animation-delay: 2.0s;
  color: #000;
}

.note4 {
  top: 35px;
  left: 80%;
  animation-delay: 2.5s;
}
.note5{
  top: 19px;
  left: 60%;
  animation-delay: 3.0s;
}

@keyframes music {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }
  80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}

.about-us-article{
  max-width: var(--size-xl);
  padding: 10px;
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.article-about-wrapper{
  max-width: 600px;
}

.about-us-article h2 {
  text-align: center;
  
}
.about-article2{
  max-width: var(--size-xl);
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}
.about-btn{
margin: auto;
}
.about-btn a  {
  width: 300px;
  margin: auto;
}
.about-article2-header p{
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
  color: #232938;
  text-align: center;
}
@media(min-width: 52rem){
  .about-us-article h2{
    text-align: left;
  }
  .about-article2-header p{
    font-size: 3rem;
    line-height: 4rem;
  }
  .about-article2{
    max-width: var(--size-xl);
    display: flex;
    flex-wrap: nowrap;
  }
}
/*slider*/

.image-carousel{
  width: var(--size-xs);
  position:  relative;
  height: 30vh;
  overflow: hidden;
  width: 400px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
}
.slide{
  position: absolute;
  inset:0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  border-radius: 5px;
  overflow: hidden;
}
.slide.active-slide{
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
  
}

.slide  img{
  height: 100%;
  object-fit: cover;
  object-position: center;
  
}
.img-slider-button{
  position: absolute;
  top:50%;
  z-index: 10;
  font-size: 1.5rem;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  color: white;
  background: rgb(27, 27, 27);
  padding: 5px;
}

.left{
  right:1rem;
}
.right{
  left:1rem;
}
.img-slider-button:active{
  background-color: #817e7e;
  color: var(--black);
}


/*Forms*/
.comment-form-btn-container{
  justify-content: center;
  margin-top: 10px;
}
.comment-form-btn-container button:active{
  background: #4285f4;
  color: white;
}

.comment-section{
  width: var(--size-xl);
  margin: 50px auto;
  position: relative;
}
.form-wrapper{
  max-width: 680px;
  margin: 50px auto;
}
.comment-form{
  width: var(--size-md)

}
.input-container{
  flex-direction: column;
  gap:10px;
  margin-top: 10px;
}
.input-container input, textarea{
  height: 40px;
  padding: 10px 20px;
  background: #fff;
  transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
  border: 1px solid #ddd;
  border-radius: 3px;
}
textarea{
  height:150px;
  resize: none;
}
.input-container input:hover, textarea:hover{
  border: 1px solid #999;
}
.input-container input:focus ,textarea:focus{
  border: 1px solid #999;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
  outline: none;
}
/*Loader*/
.spinner {
  display: none;
}
.spinner.show{
  animation: rotator 1.4s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}
@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

/*snackBar*/
.snackbar-wrapper , .snackbar-wrapper-footer{
  display: none;
  border-radius: 5px;
  background-color: rgba(24, 102, 37, 0.9);
  padding: 15px;
  color: white;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  max-width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.snackbar{
  justify-content: space-evenly;
}
.snackbar-wrapper{
  top: 50vh;
  left: 50%;
}
.snackbar-wrapper-footer{
  top:2rem;
  left:50%;
}
.snackbar > p{
  padding: 0; margin: 0;
}
.snackbar-wrapper.show, .snackbar-wrapper-footer.show{
  display: block;
  animation: fadeIn 1s; -webkit-animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/*error*/

.error{
  display: none;
  color: rgb(138, 18, 18);
}
.error.show{
  display: block;
}

/*Modal*/
.article-header{
  cursor: pointer;
}
dialog{
  max-width: 1000px;
  border: none;
  background: none;
}
dialog::backdrop{
  background-color: rgba(0, 0, 0, 0.781);
  cursor: pointer;
  backdrop-filter: blur(10px);
}
.modal{
  position: relative;

}
.modal-btn{
  position: absolute;
  top:1rem;
  right:1rem;
  font-size: 1rem;  
}
.about-img-modal{
  max-width: 1000px;
  overflow: hidden;
  position: relative;

}
/*overlay-body*/
.overlay{
  background: black;
  opacity: 0.6;
  position: fixed;
  display: none;
  transition: .3s ease;
  z-index: 0;
}
.overlay.active{
  display: block;
  pointer-events: all;
  transition-delay: 0s;
  cursor: pointer;
  height: 100%;
  width: 100%;
  z-index: 1;
}
body.stop-scrolling{
  overflow-y: hidden;
}