/*Global values*/
:root{
  --primary-font: 'Source Sans Pro', sans-serif,'Roboto', sans-serif;;
  --heading-font:  'Bruno Ace SC', cursive,'Roboto Slab', serif;
  --max-size:75rem;

  --white:#FFFFFF;
  --card-white1:#ECE9E6;
  --card-white2:#f1f0ef;

  --categories-blue1:#56CCF2;
  --categories-blue2:#1e4f91;
  --categories-blue3:#37abd1;

  --black:#000000;
  --black2:#141313;

  --red1:#bb1f1f;
  --red2:#862323;
  --red3: #311111;

  --article-size-small: 37.5rem;
  --article-size-medium:40rem;
  --article-size-large:42.5rem;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html{
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  color: var(--black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
h1,.title-site {
  font-family: var(--heading-font);
  font-size: 2rem;
}
fieldset{
  border: none;
}

input,textarea{
  font-family: var(--primary-font);
}
.title-site{
  font-size: 1.7rem;
  color: var(--white);
}
.hero-text{
  color: var(--white);
}
img{
  width: 100%;
  display: block;
}
a{
  text-decoration: none;
  color: var(--white);
}
ul,li{
  list-style: none;
}
.flex{
  display: flex;
}

/* Navigation*/

.menu_item{
  cursor: pointer;
}

header {
  position: sticky;
  top: 0;
  align-items: center;
  padding: 10px;
  z-index: 100;
}  

.nav{
  padding: 0;
  margin: 0;
  font-size: 1rem;
  position: sticky;
}
header, .nav{
  background: var(--black);
}


  /*Navigation Mobile*/

@media (max-width: 52rem){
  header{
      justify-content: space-between;
      box-shadow: 0px 2px 2px black;
      z-index: 100; 
  }
  .nav{
      position: fixed;
      left:0;
      right:0;
      top:0;
      flex-direction: column;
      padding: min(30vh, 2rem);
      gap:2rem;
      transform: translateY(-100%);
      transition: 0.4s ease-in-out;
      text-align: left;
      justify-content: center;
      align-items: center;     
}
  /*Hamburger Menu*/

  .line{
      width: 23px;
      height: 3px;
      background: var(--white);
      display: block;
      margin: 5px;
      position: relative;
}
  .hamburger{
      background: transparent;
      border:none;
      z-index: 1;
}
  /*Hamburger menu Animation*/

  .hamburger .line{
      transition:0.6s, opacity 0.2s;
      transform-origin: center;
  }

  .hamburger.active .top{
      transform: rotate(45deg) translate(8px, 7px);

}
  .hamburger.active .bottom{
      transform: rotate(-45deg) translate(4px, -3.5px);

}
  .hamburger.active .middle{
      opacity: 0;
}
.hamburger.active .line{
  background: var(--white);

}
  .nav.active{
      transform: translateY(0%);
}
}
  /*Navigation Desktop*/

  @media(min-width:52rem){

  .hamburger{
      display: none;
}
  header {
      justify-content: space-around; 
}

  .nav{      
      gap:clamp(1rem, 4vw, 2rem);
      padding-inline:clamp(2.5rem, 6vw , 9rem);
      background: white;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .nav a:hover, .active-page {
      transition: 0.5s ease;
      text-underline-offset: 0.4rem;
      text-decoration: underline var(--white);
  }
}

/*slider*/

  .btn-container{
    margin-top: auto;
    gap:10px;
  }
  .arrow{
    display: block;
    transform: translateY(-50%);
    border: none;
    width:2.5rem;
    height: 2,5rem;
    background-color: rgb(43, 40, 40);
    color: var(--white);
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.5rem;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    display: none;   
}
.arrow:active{
  background-color: #817e7e;
  color: var(--black);
}
.arrow-right{
  right: 10.5px;
}
.arrow-left{
  left:0;
}
.arrow:disabled{
  opacity: 0.5;
  cursor: default;
}
.arrow:disabled:active{
  background-color: rgb(43, 40, 40);
  color: rgb(255, 255, 255);
}


.slider{

  font-size: 0px;
  gap:30px;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}
.wrapper .slider{
  white-space: nowrap;
  overflow: scroll;
  margin: 20px auto;
}
.slider::-webkit-scrollbar {
  display: none !important;
}

@media(min-width:52rem){
  .arrow{
    display: block;
  }
  .wrapper{
    
    justify-content: center;
    flex-direction: row;
  }
  .slider{
    max-width: var(--max-size);
    font-size: 0px;
    display: inline-block;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    gap:0;
  }
  .wrapper .slider{
    white-space: nowrap;
    overflow: hidden;
    margin: 20px auto;
  }
}

/*Blog-cards*/

.blog-card{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 22rem;
  margin-left: 0px;
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  background: var(--card-white1);
  background: linear-gradient(to right, var(--white), var(--card-white2));

}
.blog-card:first-child{
  margin-left: 0px;
}
.blog-card-img-container{
  max-width: 100%;
}

/*Categories*/
.AI{
  background: var(--categories-blue1);
  background: linear-gradient(to bottom, var(--categories-blue2), var(--categories-blue3));
  color: var(--card-white2);
}
.Sound{  
  background: var(--black);
  background: linear-gradient(to bottom, var(--black), var(--black2));
  color: var(--card-white2);
}
.Scene{
  background: var(--red1);
  background: linear-gradient(to bottom, var(--red2), var(--red3));
  color: var(--card-white2);
}
.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: 0.9rem;
}
.card-body {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  white-space: normal;
  
}
.card-body h4{
  font-size: 1.3rem;
  text-transform: capitalize;
}
.card-bottom {
  display: flex;
  padding: 0rem;
  margin-top: auto;
}
.writer {
  display: flex;
  gap: .5rem;
  align-items: center;
}
.writer img{
  border-radius: 50%;  
  height: 30px;
}
.title-link{
  color: var(--black);
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  display: block;
  margin-top: 10px;
  height: 50px;
}
.title-link:hover{
  text-decoration: underline;
}
.subTitle-text{
  height: 50px;
}
.read-more{
  color: var(--black);
  text-decoration: underline;
  font-weight: bold;
}

/*Home*/
.latest-container-title{
  gap:15px;
  align-items: center;
  justify-content: center;
}
.home-header{
  background: url('/images/909.jpg');
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  margin: 0;
  position: relative;
}
.hero-text{
  position: absolute;
  top:65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
  width: 100%;
}
.hero-text h1{
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 20px;
}
.hero-text h2{
  font-size: 1rem;
}
.latest-posts{
  max-width: 1150px;
  margin: 0 auto;
}
@media(min-width:52rem){
  .latest-container-title{
    justify-content: flex-start;
  }
  .hero-text h1{
    font-size: 2.2rem;
    text-underline-offset: 23px;
  }
  .title-home{
    font-size: 2.2rem;
  }
  .hero-text h2{
    font-size: 1.5rem;
  }
}
.excerpt{
  width: min(78rem, calc(100% - 2rem));
  margin: 20px auto;
  justify-content: space-around;
  background-size: 50%;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  align-items: center;
  padding: 20px;


}
.excerpt-img-container{
  max-width: 500px;
  overflow: hidden;
}
.excerpt-img-container img{
  border-radius: 3px;
}
.excerpt-article{
  max-width: var(--article-size-small);
  line-height: 150%;
}
.excerpt-article a{
  margin: 0 auto;
}
@media(min-width:53rem){
  .blog-card{
    display: inline-block;
    width: calc(100% / 3 - 1rem);
    margin-left: 15px;
  }
}

/*details*/
.comment-field{
  background: rgb(255, 255, 255);
  margin: 0 auto;
  max-width: var(--article-size-large);
}

.comment-container{
  background: rgb(255, 255, 255);
  padding: 20px;
  width: var(--article-size-medium);
  box-shadow: 3px 4px 4px rgb(56, 55, 55);
  margin-bottom: 10px;
}
.article-header{
  width: 100%;
  height: 50vh;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.user-info{
  flex-direction: column;
}
.blog-section{
  max-width: var(--max-size);
  margin: 0 auto;
  padding: 10px;

}
.blog-container{
  position: relative;
  max-width: var(--article-size-large);
  margin: auto;
  font-size: 18px;
  letter-spacing: -0.003em;
  line-height: 28px;
  padding: 10px;
}
@media(min-width:52rem){
  .blog-container{
    font-size: 20px;
    line-height: 32px;
  }
}
/*Post page*/
.search-form{
  align-items: center;
  gap: 10px;
}
.search-btn{
  margin-top: 35px;
  border-radius: 3px;
}
.post-form-wrapper{
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.category, .sort-date{
  height: 50px;
  padding: 10px 20px;
  background: var(--white);
  transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-top: 40px;
}
.category:hover, .sort-date:hover{
  border: 1px solid #999;
}
.category:focus, .sort-date:focus{
  border: 1px solid #999;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
  outline: none;
}

.section-wrapper{
  justify-content: center;
  flex-direction: column;
  align-content: center;
  gap:15px;
  width: min(80rem, calc(100% - 2rem));
  margin: auto;
}
.article-container{
  padding: 20px;
  gap:20px;
  margin-bottom: 10px;
  background: #eeeaea;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.posts-img-container{
  max-width: 450px;
  border-radius: 5px;
  overflow: hidden;
  
}
.article-container img{
  width: 100%;
  display: block;
}
.article-title-container{
  width: 400px;

}
.section-wrapper h1{
  width: 100%;
  text-align: center;
}

@media(min-width:52rem){
  .section-wrapper h1{
    text-align: left;
  }
}
/*Footer*/
footer{
  margin-top: auto;
  background: var(--black);
  color: var(--white);
  padding-block: 3rem;
}
.socials-wrapper{
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid white;
  width: min(78rem, calc(100% - 2rem));
  margin-inline: auto;
}
.socials-cotnainer{

  gap: 20px;
  font-size: 1.3rem;
}
.footer-form{
  justify-content: center;
  width: min(78rem, calc(100% - 2rem));
  align-items: center;
  margin-inline: auto;
  padding-bottom: 0.3rem;
  flex-wrap: wrap;
  text-align: center;
}
.form .form-field  {	
		width: 250px;
		background: #fff;
		color: black;
		font: inherit;
		border: 0;
		outline: 0;
		padding: 10px 10px;	
}




.copyright{
  text-align: center;
  width: 350px;
  margin:auto;
}
.copyright h1{
  font-size: 1rem;
  text-decoration: underline;
  text-underline-offset: 11px;

}
@media(min-width:52rem){
  .footer-form{
    justify-content: space-between;
    text-align: left;
  }
}

/*Buttons*/
.btn {
	display: inline-block;
	background: rgb(50, 68, 167);
	color: white;
	font: inherit;
	border: 0;
	outline: 0;
	padding: 10px;
	cursor: pointer;
	
}
.load-more-container{
  margin: 10px auto;
}
.load-more{
  background: black;
  color: white;
  width: 200px;
  border-radius: 3px;

}
.load-more:active{
  background: rgb(212, 209, 209);
  color: black;
}
/*Contact*/
.contact-section{
  width: min(78rem, calc(100% - 2rem));
  margin: 50px auto;
}
.contact-section h1{
  text-align: center;
}
.contact-form{
  margin: 0 auto;
}
.repply-shortly{
  text-align: center;
}
.send-contact button{
  width: 200px;
}

/*About us*/
.about-us-section{
  position: relative;
  min-height: 100vh;
  background: url('/images/about.jpg') 50% no-repeat; 
  background-size: cover; 
  flex-direction: column;
}
.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transform: skewY(-20deg);
  transform-origin: top left;
  background: white;
  z-index: 0;
  -webkit-transform: skewY(-20deg);
  -moz-transform: skewY(-20deg);
  -ms-transform: skewY(-20deg);
  -o-transform: skewY(-20deg);
}
.about-us-article{
  max-width: var(--article-size-large);
  z-index: 2;
  padding: 20px;
  line-height: 150%;
}

/*Forms*/
.comment-form-btn-container{
  justify-content: center;
  margin-top: 10px;
}
.comment-form-btn-container button:active{
  background: #4285f4;
  color: white;
}

.comment-section{
  width: min(78rem, calc(100% - 2rem));
  margin: 50px auto;
  position: relative;
}
.form-wrapper{
  max-width: 680px;
  margin: 50px auto;
}
.comment-form{
  width: min(40rem, calc(100% - 2rem));

}
.input-container{
  flex-direction: column;
  gap:10px;
  margin-top: 10px;
}
.input-container input, textarea{
  height: 40px;
  padding: 10px 20px;
  background: #fff;
  transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
  border: 1px solid #ddd;
  border-radius: 3px;
}
textarea{
  height:150px
}
.input-container input:hover, textarea:hover{
  border: 1px solid #999;
}
.input-container input:focus ,textarea:focus{
  border: 1px solid #999;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
  outline: none;
}
/*Loader*/
.spinner {
  display: none;
}
.spinner.show{
  animation: rotator 1.4s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}
@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

/*snackBar*/
.snackbar-wrapper{
  display: none;
  border-radius: 5px;
  background-color: rgba(24, 102, 37, 0.9);
  padding: 15px;
  color: white;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
.snackbar{
  justify-content: space-evenly;
}
.snackbar > p{
  padding: 0; margin: 0;
}
.snackbar-wrapper.show{
  display: block;
  animation: fadeIn 1s; -webkit-animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/*error*/
.error{
  display: none;
  color: rgb(138, 18, 18);
}
.error.show{
  display: block;
}



/*sliderTEST*/

.image-carousel{
  width: min(30rem, calc(100% - 2rem));
  position:  relative;
  height: 40vh;
}
.slide{
  position: absolute;
  inset:0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  border-radius: 5px;
  overflow: hidden;
}
.slide[data-active]{
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.slide > img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.test-arrow{
  position: absolute;
  top:50%;
  z-index: 100;
  font-size: 2rem;
  transform: translateY(-50%);
}
.image-carousel > ul{
  margin: 0;
  padding: 0;
  margin: 0;
}
.test-left{
  right:1rem;
}
.test-right{
  left:1rem;
}